asgiref==3.8.1
beautifulsoup4==4.12.3
black==24.4.2
bootstrap4==0.1.0
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.1
Django==4.2.14
django-bootstrap-v5==1.0.11
django-bootstrap5==24.1
django-crispy-forms==2.2
django-filter==24.2
djangorestframework==3.15.1
iniconfig==2.0.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
pytest==8.2.2
python-http-client==3.3.7
pytz==2024.1
sendgrid==3.6.5
sendgrid-django==4.2.0
setuptools==70.0.0
soupsieve==2.5
sqlparse==0.5.0
starkbank-ecdsa==2.2.0
tzdata==2024.1
